<%= form_for(@freezer) do |f| %>
  <% if @freezer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@freezer.errors.count, "error") %> prohibited this freezer from being saved:</h2>

      <ul>
      <% @freezer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit :class => "button"%>
  </div>
<% end %>
