<div id = "wrapper">
<div id="main">
<div class="body">
<h1>Listing freezers</h1>

<table align="center" border = 1px width = 900px class = "imagetable">
  <tr>
    <th>Name</th>
    <th>Show Details</th>
    <th>Edit Freezer</th>
    <th>Delete Freezer</th>
  </tr>

<% @freezers.each do |freezer| %>
  <tr>
    <td><%= freezer.name %></td>
    <td><%= link_to 'Show', freezer %></td>
    <td><%= link_to 'Edit', edit_freezer_path(freezer) %></td>
    <td><%= link_to 'Destroy', freezer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<p align = "center">
<%= link_to 'New Freezer', new_freezer_path,:class => "button" %>
</p>
</div>
</div>
</div>