<div id ="wrapper">
<div id="main">
<div class="body">
<p>
<%= form_tag("/index3", :method => "get")  do |f| %>

<div class="field" align = "left" style="margin-left:30px">
  <%= select("item", "freezer_id", Freezer.all.collect {|p| [ p.name, p.id ] }) %>

<%= submit_tag "Select Freezer", :class => "button"%>
</div>
<% end %>
</p>
<h1>Listing items</h1>
<table align="center" border = 1px width = 900px class = "imagetable" >
  <tr>
    <th>Description</th>
	<th>Weight</th>
    <th>Price</th>
	<th>View Item</th>
	<th>Edit Item</th>
	<th>Delete Item</th>
  </tr>

<% @items.each do |item| %>
<%if item.sold != true%>
  <tr align = "left" >
	<td><%= item.product.description %></td>
    <td><%= item.weight %></td>
    <td><%= item.price %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Delete', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<%end%>
<%end%>
</table>

<br />
<p align ="center">
<%= link_to 'New Item', new_item_path, :class => "button" %>
</p>
					
</p>
</div>
</div>
	
</div>