
<p id="notice"><%= notice %></p>
<p align = "left">
  <b>Description:</b>
  <%= @item.product.description %>
</p>
<p align = "left">
  <b>Price Per Pound:</b>
  <%= @item.product.price %>
</p>

<p align = "left">
  <b>Weight:</b>
  <%= @item.weight %>
</p>

<p align = "left">
  <b>Price:</b>
  <%= @item.price %>
</p align = "left">

<p align = "left">
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
</p>
