<html>

<head>
<%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>

<body>
<%= render 'layouts/header' %>
<h1 style="text-align:center;">Listing products</h1>

<table align="center" >
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>Price Per Pound</th>
	<th>ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr style="text-align:left">
    <td><%= product.meattype %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
	<td><%= product.id %></td>
    <td><%= link_to 'Show', product %></td>
	<td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Product', new_product_path %>
<br />

<!--<%= link_to 'New Product', new_product_path %>-->
<%= render 'layouts/footer' %>
</body>
</html>
