<%= stylesheet_link_tag    "custom" %>
<%= javascript_include_tag "application" %>
		
<div id="header">
		<div id ="signin">
        <% if signed_in? %>
		<%= current_user.email %>
		<%= link_to "Sign out", sign_out_path, :method => :delete %>
		<% else %>
		<%= link_to "Sign in", sign_in_path %>
		<% end %>
		</span>
		</div>

		<%= link_to image_tag('/images/logo.png', :border=>0)%>
		<%= link_to image_tag('/images/farm.jpg', :border=>0)%>
		
		
		
		
		<div id="navigation">
			<ul>
				<li class="first selected"><%= link_to "Inventory", root_path %></li>
				<li><%= link_to "Products", products_path %></li>
				<li><%= link_to "Freezers", freezers_path %></li>
			</ul>
		</div>
		<div id="search">
			<form action="" method="">
				<input type="text" value="Search" class="txtfield" onblur="javascript:if(this.value==''){this.value=this.defaultValue;}" onfocus="javascript:if(this.value==this.defaultValue){this.value='';}" />
				<input type="submit" value="" class="button" />
			</form>
		</div>
	</div> <!-- /#header -->
	    